<%-include("C:/Users/pg/Desktop/webd2019/webdevelopment/blog/views/partials/header")-%>
<h1>COMPOSE</h1>
  <form class="form-group" action="/" method="post">
    <b>Title</b>
    <br />
    <textarea class="form-control" name="postTitle" rows="1" cols="80" placeholder="Title"></textarea>
      <br />
    <b>Post</b>
    <br>
    <textarea class="form-control" name="postBody" rows="8" cols="80" placeholder="Content"></textarea>
    <br />
    <button class="btn btn-primary" type="submit" name="button">POST</button>
  </form>
<%-include("C:/Users/pg/Desktop/webd2019/webdevelopment/blog/views/partials/footer")-%>
