<%-include("C:/Users/pg/Desktop/webd2019/webdevelopment/blog/views/partials/header")-%>
<h1><%=post.title%></h1>
<p>
  <%=post.body%>
  </p>
<%-include("C:/Users/pg/Desktop/webd2019/webdevelopment/blog/views/partials/footer")-%>
